@import "leaflet/dist/leaflet.css";

.leaflet-container {
  border-radius: 0.75rem;
  z-index: 1;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
  padding: 0;
}

.leaflet-popup-content {
  margin: 12px;
}
